@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1e1e;
  --color-letter: rgb(235, 232, 232);
}

* { 
  font-family: "Poppins", sans-serif;
  color: var(--color-letter);
  background: var(--background);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}


